In [1]:
# tie row data back to OOP

# Data Wrangling and Collating

#### *Data wrangling and collating* are large parts of the data science process, with the ability to correctly extract, transform and load data being known as ETL in the industry. Information can come in various forms, with a few of the most popular examples being:

> - JSON APIs
> - Text Scraping (Like Tweet Generator... remember that?)
> - CSV Files (which can be dumps from)


#### Let's start out by looking at a few examples of each.

#### One of the most common file structures that you will see in industry and work with are **CSV files**.

#### For our tutorial, we will take a look at the Titanic dataset and will use Pandas for working with our data.

## CSV Files, Rows and Columns

#### CSV files constitute a large chuck of how data is represented due to their organizational structure and usage in industry. CSV files are commonly utilized as dumps for databases when their information must be represented in a format that can be exported to other programs or for backups.

#### This file structure is important because perfectly represents a collection of EVENTS or occurrences in our data, and answers quantity or quality questions about that singular event, such as:

- Who?
- What?
- When?
- Where?
- How?
- How much?
- How many?

#### Each ROW in our CSV file represents a single occurrence, and is represented horizontally as follows:

In [2]:
import pandas as pd

df = pd.read_csv('train.csv')
df[1:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### The tags that float above the rows give a description to all of the values that every occurrence contains. 

#### These are called *columns* and describe a single measured FEATURE or ATTRIBUTES of all of the rows in a given dataset.

In [3]:
df['Name'].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

## Header Rows

The first row of a CSV file will sometimes contain the names of all of the columns. Pandas automatically captures the first row (Zero indexed) and (for its DataFrame representation) turns this into the *"header"*. This being said, there will be times that you will have to either change the header manually or set it yourself.

This can be done executing:
> - `df.rename()` (**renames the selected columns** and leaves the rest untouched)
> - `df.columns` (**resets ALL of the columns** to whatever is contained in the inputted list of strings)

In [4]:
df_to_change = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df_to_change

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
df_to_change = df_to_change.rename(index=str, columns={"A": "First", "B": "Second"})
df_to_change

   First  Second
0      1       4
1      2       5
2      3       6

In [6]:
df_to_change.columns = ['Aye','Cardi B']
df_to_change

   Aye  Cardi B
0    1        4
1    2        5
2    3        6

# Discussion: 

> - What are some pertinent questions that you may have that could be turned into features?
> - Name some information from an application that would contain features that you could analyze?
> - Why would you want to change the columns headers on a dataframe?

## Data Dictionaries and describing your columns and features

#### Another part of the data science process involves labeling your features and attributes in a manner that not only gets the point across of each feature, but also works as a way to verify that each feature's value is within the constraints of its definition.

#### Generally the more descriptive your *data dictionary* is, the less trouble you will have with issues pertaining to taking care of null or NaN values. 

#### This will also be a boon to performing heavier statistical analysis on your data.

#### Here is a sample data dictionary for the Titanic dataset for its ease of organization and comprehension. (By the way, tables like the following are one of the most useful forms of display!)

<break>

<center><h2>Titanic Data Dictionary</h2></center>


| Variable | Definition                                        | Key                                            |
|----------|---------------------------------------------------|------------------------------------------------|
| Survived | Survival                                          | 0 = No, 1 = Yes                                |
| Pclass   | Ticket Class (proxy for socio-economic status)    | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| Sex      | Sex                                               | female, male                                   |
| Age      | Age (in years)                                    | 0.6 = 81                                       |
| SibSp    | # of siblings and/or spouses also aboard          |                                                |
| Parch    | # of parents / children also aboard               |                                                |
| Ticket   | Ticket number                                     |                                                |
| Fare     | Passenger fare (how much their ticket cost)       |                                                |
| Cabin    | Cabin number                                      |                                                |
| Embarked | Port of Embarkation (where they boarded the ship) | C = Cherbourg, Q = Queenstown, S = Southampton |

# Discussion:

- Why are data dictionaries important?
- What are some possible ways that an unclear or incorrect data dictionary could affect your work in analysis.

# Data types

Data types in Pandas come in some of the same great flavors that youre used to working with in regular Python! 

This also means that these datatypes have all of the methods availible for use in your applications and analysis. You can see the datatypes of a Pandas column (also known as a *Series*) by using: `df.dtypes`


Here are a few that are availalble:

- **floats** - which will display as "float64"
- **integers** - which will display as "int64"
- **datetime** -  objects which will display as "datetime64[ns]"
- **strings** - which will display as "object"


Data types assist you in making sure that your data is stored as a single type of value in any given column or series.

This is important because the operations that you will perform to index, transform or otherwise analyze require that all of the attributes in every row of a given column are the exact same.

In [7]:
df_datatypes = pd.DataFrame({'INT': [23],'FLOAT': [3.14], 'DATETIME': [pd.Timestamp('20181109')],'STRING': ['data science is pretty cool']})

display(df_datatypes.dtypes)

INT                  int64
FLOAT              float64
DATETIME    datetime64[ns]
STRING              object
dtype: object

### Conversion of strings to numerical variables
Another common important task is the casting of strings into their numerical equivalents in a dataframe or series. When data is scraped or is collected in CSV format, values that should be integers, floats or exponetial values will be read as strings.
Pandas contains a to_numeric method which takes a list,numpy array or Series and converts each value into the appropriate notation

In [8]:
number_list = ['0','1.0','2e-3']
df_numeric = pd.to_numeric(number_list)
display(df_numeric)

array([ 0.   ,  1.   ,  0.002])

## Categorical values and encoding

Categorical values (also called nominal values) represent choices in data. But what how does that compare with what we've already seen? 
Well, we've seen boolean values in our data sets (yes and no in a poll or survived or not in the titanic dataset). But what if you have multiple values that you want to explore, or features that you would like to transform to better suit a complementing dataset? Or just converting something like text data into numbers for processing( More about this in DS 2.1). Pandas provides a way of dealing with this very issue in a clean and clear manner, called one-hot encoding. To execute this we will take the titanic datasets column for "Embarked" which tell us where a certain passenger boarded the titanic.

Note that this column contains three choices for embarked that include: S for Southhampton, C for Cherboug, and Q for Queenstown

In [9]:
df['Embarked']

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
      ..
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

What if we just wanted to know, per row whether or not someone was in a certain class or not? One hot encoding is one way to resolve this issue

## One-Hot Encoding

Pandas provies a method named get_dummies() that does exactly that.

### HOW THIS WORKS
> - One hot encoding looks at a column or series that contains categorical data and takes note of the number of unique attributes for that column
> - For each row, a new attribute is appended that corresponds to a unique attribute.
> - For each row, the answer from the original non-encoded  column is checked and if that matches any of the new columns, a one is added as an attribute, while a zero is added to all of the others.

In [10]:
pd.get_dummies(pd.Series(df['Embarked'])).head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

## Integer Encoding

Another way to transform your data is Integer Encoding.

What this does is it takes a cateorical feature that usually comes into a string form (or in some cases a range from numerical data can be used) and turns that corresponding string or range into a solid number.

Lets take an example like a ratings systems and apply integer encoding to a pandas series. lets say we have ratings one a 1- 10 scale but only want to know if things are bad based off of a new system that assigns the following:

0 - 3 = 1
4 - 5 = 2
6 - 7 = 3
8 - 10 = 4

This can be done using the Series.apply(method).

This works via passing in a method to transform the values in a dataframe column or series.

In [11]:
ratings = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

def integer_encode(attribute):
    if attribute <= 3:
        return 1
    elif attribute >= 3 and attribute <= 6:
        return 2
    elif attribute >= 6 and attribute <= 7:
        return 3
    else:
        return 4
    
ratings['A'] = ratings['A'].apply(integer_encode)

In [12]:
ratings['A']

0    1
1    1
2    1
3    2
4    2
5    2
6    3
7    4
8    4
9    4
Name: A, dtype: int64

## Discussion: Name some categorical data that youve seen and how they would be split up by either integer encoding or one-hot encoding

## Dealing with missing values

Missing values in data science are a common occurence in datasets. An example of this is when a statistic is taken and a value is unreported, or the columns in a studied dataset have been updated, deprecated or changed. In pandas you might see this in a variety of formats.

Below from out titanic data set we see that in the 'Cabin' column, some of the passengers( due to a variety of reasons) did not have a reported cabin on the passenger ledger. If these are absent, pandas fills them with a NaN value.

In [20]:
titanic_df = pd.read_csv('train.csv')
titanic_df['Cabin'].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

In [21]:
for item in titanic_df['Cabin'].head():
    print(type(item))

<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>

This doesn't look like a NaN value as stated...and it's a little verbose to type out every time we need to check for these. Luckily for us, pandas has multiple was to parse these, and even fill these in.

To view the rows that have NaN values, use the pandas dataframe/series.isna() method. This method returns a boolean True or False. True if the value in the row is a NaN value, and for False for a reported value

In [22]:
titanic_df['Cabin'].head().isna()

0     True
1    False
2     True
3    False
4     True
Name: Cabin, dtype: bool

To get the total nuber of NaN Values from a pandas series chain the .sum() method to get a running total of all of the occurences of NaN values. Let's get the total number of NaN values in the complete data set.

In [24]:
titanic_df['Cabin'].isna().sum()

687

Now using this, what immediately might come to mind is to use the .apply() method to fill these missing values. Well, lucky for us, pandas has a method specifically to deal with just that...The .fillna() function.

.fillna() has parameters that you can explore, but commonly you'll see the parameters being filled by a numerical value, or a string placeholder. Since the 'Cabin' dataframe is meant to be a string, let's fill it in with 'No ticket', just so we can keep track of who has a ticket, and who doesn't.

In [29]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna("No ticket")
titanic_df['Cabin'].head()

0    No ticket
1          C85
2    No ticket
3         C123
4    No ticket
Name: Cabin, dtype: object

Lets take a look at the data for our 'Age' and check for missing values there as well.

In [31]:
titanic_df['Age'].isna().sum()

177

In [36]:
titanic_df['Age'].head(20)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

Just like with the last column, we can fill this one in as well

In [37]:
titanic_df['Age'].head(20).fillna(0)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      0.0
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     0.0
18    31.0
19     0.0
Name: Age, dtype: float64

### Exercise: take any  3 column you want and check for NaN values. Then fill those values with something you'd like! Remember to check for types using .dtypes so you can set the missing values to the correct datatype

### Missing values that arent NaN

In some datasets, you'll run into what seems like totally valid answers that don't evaluate to NaN. This is becuase they technically arent "missing", but have been replaced by something for common sense reasoning doesnt make much sense.  Let's look at some BMI data just to make sure

In [33]:
bmi_df = pd.read_csv('bmi.csv')
bmi_df

   Sex   "Weight (lbs Sep)"   "Weight (lbs Apr)"   "BMI (Sep)"   "BMI (Apr)"
0    M                159.0                  130          0.00         18.14
1    M                214.0                  190         19.70         17.44
2    M                163.0                  152         24.09         22.43
3    M                205.0                  194         26.97         25.57
4    F                150.0                  141         21.51         20.10
5    M                130.0                  121         18.69         17.40
6    F                141.0                  132         24.24         22.88
7    F                  0.0                  117          0.00         20.23
8    F                154.0                  150         30.26         29.24
9    F                128.0                  123         21.88         21.02
10   F                110.0                  104         17.63         16.89
11   M                156.0                  152         24.57         23.85
12   M                148.0                  145         20.68         20.15
13   F                123.0                  121         20.97         20.36
14   F                154.0                  150         27.30         26.73
15   F                  0.0                  132          0.00         22.88
16   F                117.0                  115         19.48         19.24
17   M                203.0                  203         24.74         24.69
18   F                126.0                  128         20.69         20.79
19   M                148.0                  148         20.49         20.60
20   F                128.0                  128         21.09         21.24
21   F                108.0                  110         18.37         18.53
22   M                150.0                  150         22.40         22.61
23   F                152.0                  152         28.17         28.43
24   M                192.0                  194         23.60         23.81
25   M                179.0                  181         26.52         26.78
26   M                  0.0                  134          0.00         19.27
27   F                115.0                  117         19.31         19.75
28   M                154.0                  156         20.96         21.32
29   F                139.0                  141         21.78         22.22
..  ..                  ...                  ...           ...           ...
37   F                139.0                  143         23.87         24.67
38   F                119.0                  123         18.61         19.34
39   F                123.0                  128         21.73         22.58
40   M                119.0                  123         18.93         19.72
41   M                161.0                  165         25.88         26.72
42   M                170.0                  174         28.59         29.53
43   F                139.0                  145         21.89         22.79
44   F                112.0                  119         18.31         19.28
45   F                130.0                  137         19.64         20.63
46   F                143.0                  150         23.02         24.10
47   F                117.0                  123         20.63         21.91
48   F                137.0                  143         22.61         23.81
49   F                121.0                  128         22.03         23.42
50   M                163.0                  170         20.31         21.34
51   M                163.0                  172         20.31         21.36
52   M                141.0                  150         19.59         20.77
53   M                141.0                  150         21.05         22.31
54   F                126.0                  134         23.47         25.11
55   F                141.0                  150         22.84         24.29
56   F                132.0                  141         19.50         20.90
57   M                141.0                  150         18.51         19.83
58   M                145.0                  156         21.40         22.97
59   F                115.0                  126         17.72         19.42
60   M                156.0                  170         22.26         23.87
61   F                121.0                  132         21.64         23.81
62   M                143.0                  156         22.51         24.45
63   M                165.0                  181         23.69         25.80
64   F                 93.0                  108         15.08         17.74
65   M                163.0                  181         22.64         25.33
66   M                207.0                  231         36.57         40.86

[67 rows x 5 columns]

In [34]:
bmi_df.isna()

,Sex,"""Weight (lbs Sep)""","""Weight (lbs Apr)""","""BMI (Sep)""","""BMI (Apr)"""
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
6,False,False,False,False,False
7,False,False,False,False,False
8,False,False,False,False,False
9,False,False,False,False,False
10,False,False,False,False,False
11,False,False,False,False,False
12,False,False,False,False,False
13,False,False,False,False,False
14,False,False,False,False,False
15,False,False,False,False,False
16,False,False,False,False,False
17,False,False,False,False,False
18,False,False,False,False,False
19,False,False,False,False,False
20,False,False,False,False,False
21,False,False,False,False,False
22,False,False,False,False,False
23,False,False,False,False,False
24,False,False,False,False,False
25,False,False,False,False,False
26,False,False,False,False,False
27,False,False,False,False,False
28,False,False,False,False,False
29,False,False,False,False,False
...,...,...,...,...,...
37,False,False,False,False,False
38,False,False,False,False,False
39,False,False,False,False,False
40,False,False,False,False,False
41,False,False,False,False,False
42,False,False,False,False,False
43,False,False,False,False,False
44,False,False,False,False,False
45,False,False,False,False,False
46,False,False,False,False,False
47,False,False,False,False,False
48,False,False,False,False,False
49,False,False,False,False,False
50,False,False,False,False,False
51,False,False,False,False,False
52,False,False,False,False,False
53,False,False,False,False,False
54,False,False,False,False,False
55,False,False,False,False,False
56,False,False,False,False,False
57,False,False,False,False,False
58,False,False,False,False,False
59,False,False,False,False,False
60,False,False,False,False,False
61,False,False,False,False,False
62,False,False,False,False,False
63,False,False,False,False,False
64,False,False,False,False,False
65,False,False,False,False,False
66,False,False,False,False,False

Ok, so ....how does someone have a BMI of 0.0???? Well, we know this isn't possible.

## Homework:
1. Using the titanic dataset or the BMI dataset, utilize the .apply() method to modify at least 3 columns in the dataset.
2. Using the isna() method, find at least 2 columns that have NaN values
3. Using the fillna() method in those columns, fill the values with anything that makes sense
4. Use one-hot encoding on any categorical feature you would like from the titanic dataset